.adminWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
        background-image: linear-gradient(205deg, rgba(236, 236, 236, 0.02) 0%, rgba(236, 236, 236, 0.02) 13%, transparent 13%, transparent 64%, rgba(55, 55, 55, 0.02) 64%, rgba(55, 55, 55, 0.02) 71%, rgba(239, 239, 239, 0.02) 71%, rgba(239, 239, 239, 0.02) 100%), linear-gradient(205deg, rgba(8, 8, 8, 0.02) 0%, rgba(8, 8, 8, 0.02) 1%, transparent 1%, transparent 60%, rgba(9, 9, 9, 0.02) 60%, rgba(9, 9, 9, 0.02) 80%, rgba(198, 198, 198, 0.02) 80%, rgba(198, 198, 198, 0.02) 100%), linear-gradient(153deg, rgba(134, 134, 134, 0.02) 0%, rgba(134, 134, 134, 0.02) 30%, transparent 30%, transparent 43%, rgba(85, 85, 85, 0.02) 43%, rgba(85, 85, 85, 0.02) 47%, rgba(103, 103, 103, 0.02) 47%, rgba(103, 103, 103, 0.02) 100%), linear-gradient(284deg, rgba(178, 178, 178, 0.02) 0%, rgba(178, 178, 178, 0.02) 8%, transparent 8%, transparent 47%, rgba(161, 161, 161, 0.02) 47%, rgba(161, 161, 161, 0.02) 61%, rgba(19, 19, 19, 0.02) 61%, rgba(19, 19, 19, 0.02) 10%), linear-gradient(125deg, #6ab3d8, #5d16ae); 

    justify-content: center;
    height: 100vh;
}
.adminWrapper img{
    width: 100px;
}
p{
    color: aliceblue;
    text-align: center;
    font-family: Telex;
}
.enableDesktop{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.enableDesktop .faIcon{
    font-size: 40px;
    margin-top: 20px;
    color: aliceblue;
}