.AIjobswrap{
    width: 95%;
    height: 95%;

}
select:focus{
 outline: none;
}
.aiJobType{
    width: 100%;
    height: 85px;
    margin-bottom: 10px;
}
.contentReviewWrapUploader{
    height: calc(100% - 95px);
    width: 100%;
}

.factCheckQuiz{
    width: 100% ;
    height: 85px;
}
.factCheckQuiz p{
          height: 35px;
    overflow: hidden;
}
.factCHeckQuizInput{
 height: 50px;
         box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
             border-radius:10px;
overflow: hidden;
width: 100%;
}
.factCHeckQuizInput input{
    width: 100%;
    padding-left: 10px;
    height: 100%;
}
.factCHeckQuizInput select{
    width: 100%;
    border: none;
    padding-left: 10px;
    height: 100%;
}
.factCheckcontentInput{
    height: calc(100% - 170px);
}
.factCheckcontentInput p{
  height: 35px;
  width: 100%;
}

.taskPrice{
    width: 100%;
    height: 85px;
    margin-bottom: 10px;
}
.mainTaskHolderContaincer{
    height: calc(100% - 105px);
    width: 100%;
    margin-bottom: 10px;
}
.contentInput{
    height: 100%;
    width: 100%;
}
.translationLang{
    height: 85px;
    margin-bottom: 10px;
}
.translationLang p{
      height: 35px;
    overflow: hidden;
}
.translationLangInput{
    height: 50px;
    width: 100%;
    border-radius:10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}
.translationLangInput select{
    width: 100%;
    border: none;
    font-family: Telex;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 10px;
}
.translateParagraph p{
    height: 35px;
}
.translateParagraph{
    width: 100%;
    height: calc(100% - 95px);
}
.translateTxt{
    height: calc(100% - 35px);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}
.translateParagraph textarea{
 width: 100%;
  font-family: Telex;
  height: 100%;
  border: none;
    padding-left: 10px;
    padding-top: 10px;
     background: rgb(255, 255, 255);
}
.aiJobType p{
    height: 35px;
    overflow: hidden;
}
.aitaskselector{
    width: 100%;
    height: 50px;
     background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

}


.ciTxtArea{
    width: 100%;
    height: calc(100% - 35px);
    overflow: hidden;
         border-radius: 10px;
              background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);


}
.tpWrap{
    height: 50px;
         background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.ciTxtArea textarea{
  width: 100%;
  font-family: Telex;
  height: 100%;
  border: none;
    padding-left: 10px;
    padding-top: 10px;
     background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
}
.aitaskselector select,
.taskPrice input{
    width: 100%;
    border: none;
    font-family: Telex;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 10px;

}
.aiBtnUpload{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.aiBtnUpload button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    font-family: Telex;
    background: linear-gradient(90deg, var(--sec2-color), var(--sec1-color));
    background: var(--sec2-color);
}
.aijobInputs{
    width: 100%;
    height: calc(100% - 60px);
    /* overflow: auto; */
}
.jobuploadInputs{
        width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
}
.aiBtnUploadLoad{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.ujwSmallInput{
    width: 100%;
    height: 80px;
}
.ujwLargeInput{
    width: 100%;
    height: 180px;
}
.ujwSmallInputWrap{
    width: 100%;
    height: 50px;
    overflow: hidden;
             background: rgb(235, 235, 235);

    border-radius: 10px;
}
.ujwSmallTextWrap{
    width: 100%;
    height: 150px;
    overflow: hidden;
             background: rgb(235, 235, 235);

    border-radius: 10px;
}
.ujwSmallInputWrap input{
    height: 100%;
    padding-left: 10px;
    font-family: Telex;

    width: 100%;
}
.ujwLargeInput textarea{
    height: 100%;
    background: none;
  border: none;
    width: 100%;
        padding-left: 10px;
            font-family: Telex;

        padding-top: 10px;

}
textarea:focus{
    outline: none;
}
@media (min-width:993px) and (max-width:1024px) {
.ciTxtArea textarea{
  width: 100%;
  font-family: Telex;
  height: 100%;
  border: none;
    padding-left: 10px;
    padding-top: 10px;
     background: rgb(235, 235, 235);
    box-shadow: none;
  
}
.aitaskselector select,
.factCHeckQuizInput select,
.translationLangInput select,
.translateTxt textarea
{
  background: none;
}
.factCHeckQuizInput,.aitaskselector,.tpWrap,.translationLangInput,.translateTxt{
        box-shadow: none;

              background: rgb(235, 235, 235) !important;


}
.aijobInputs{
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}
.jobuploadInputs{
        width: 100%;
    height: calc(100% - 60px);
    /* overflow: auto; */
}

.contentReviewWrapUploader{
    height: calc(100% - 95px);
    width: 100%;
    overflow-y: auto;
}
.factCheckcontentInput{
    height: 170px;
}
.mainTaskHolderContaincer{
    height: calc(100% - 105px);
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
}
}