*{
    padding: 0;
    margin: 0;
}


.swal2-title{
    font-size: 2rem;
    font-family: Mont;
    font-weight: 400;
    letter-spacing: -1px;
}
.swal2-popup{
    font-family: Mont;
}
:root{
    --pri-color:#9E00FF;
    --sec-color:rgb(14, 0, 77);
    --ter1-color:#5EA7FA;
    --ter2-color:#9387FA;
    --black-text:rgb(26, 26, 26);
    --grey-text:rgb(55, 55, 55);
    --sec1-color:#5EA7FA;
    --sec2-color:#5a00c0;
    --sec3-color:#0d0a22;
    --sec4-color:#C35EC1;
    --sec5-color:#6a5acd;
    --sec6-color:#2332DF;
}
*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: MontBold;
    src: url(../media/montserrat-font/MontserratExtrabold-VGO60.ttf);
}
@font-face {
    font-family: Mont ;
    src: url(../media/montserrat-font/MontserratRegular-RpK6l.otf);
}


body{
    font-family: Mont;
}
h1{
    font-size: 5rem;
    font-family: MontBold;

}
h2{
    font-size: 3.5rem;
    font-family: MontBold;
}
h3{
    font-size: 2.1rem;
    font-family: MontBold;

}
p{
    font-size: 1rem;
    line-height:28px;
    font-family: Mont;
}
button{
    font-family: Mont;
}
a{
    font-size: 1rem;
}

input{
    border: none;
    background: none;
    font-family: Mont;
}
input:focus{
    outline: none;
}
#AuthWrap{
    width: 100vw;
    display: flex;
    align-items: center;
    background: rgb(223, 233, 241);

    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.authLog{
    width: 100%;
    height: fit-content;
    transition: .3s ease ;
    position: absolute;
    top: -120%;
}
.authLogActive{
        top: 50%;
            transform: translateY(-50%);


}
.authSignActive{
        top: 50%;
            transform: translateY(-50%);



}
.authSign{
    width: 100% ;
    height: fit-content;
    bottom: -120%;
    transition: .3s ease ;
    position: absolute;
}
#authSignLoader{
    display: none;
}
.authLeft{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(223, 233, 241);
    display: flex;
}
.authLeftPlacer{
    height: 90%;
    width: 80%;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}
.authRight{
    width: 60%;
    height: 100%;
    position: relative;
    transition: .3s ease;
    border-radius: 40px 0 0 40px;
    


}

.authLogo{
    height:fit-content;
    width: 100%;
}
.authLogo img{
    width: 40px;
}
.authIntro{
    margin: 30px 0;
}
.authIntro h3{
    margin-bottom: 15px;
    color: var(--black-text);
    color: rgb(19, 10, 49);

    font-size: 1.5rem;
}
.authIntro p{
    font-weight: 100;
    color:rgb(97, 97, 97);
    font-size: 1rem;
    margin-bottom: 10px;
}
.authInputsWrap{
    width: 100%;
    height: fit-content;
}
.authInputWrap{
    width: 100%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 8px;
    margin-bottom: 12px;
    background: aliceblue;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.13); */
}
.authInputIcon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ter2-color);
}
.authInputIcon .faIcon{
    font-size: 20px;
}

.authInputWrap input{

    width: calc(100% - 40px);
    color: var(--grey-text);
    font-family: Mont;
    font-size: .9rem !important;
    height: 100%;
}

.authInputWrap input::placeholder{

    font-size: .9rem !important;
    height: 100%;
}
#authLoader{
    display: none;
}
.authBtn{
    margin-top:15px ;
    display: flex;
    justify-content: center;
    align-items: center;

}
#authLogLoader{
    display: none;
}
.authBtn button{
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg,var(--ter1-color),var(--ter2-color));
    cursor: pointer;
    border: none;
    transition: .3s ease;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 10px;
}
.authBtn button:hover{
    transform: scale(.92);
}
.authRight{
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle, var(--ter1-color) 10%, var(--ter2-color) 100%);

    align-items: center;
}
.authRightGlass{
    width: 60%;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 60%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.authRightGlass h1{
    font-size: 4rem;
    line-height: 70px;
    color: aliceblue;
}
.authRightGlass h1 span{
    color: rgb(22, 9, 70);
    color: var(--sec3-color);
}
.authRightGlass p{
    font-size:1rem ;
    width: 90%;
    margin-top: 30px;
    font-weight: 100;
    color: aliceblue;
    line-height: 30px;
}


@media only screen and (max-width:900px) {
    .authRight{
        display: none;
    }
    .authLeft{
        width: 100%;
    }
    .authLeftPlacer{
        width: 90%;
    }
}
.bubble1{
    width: 100px;
    height: 100px;
    background: rgb(115, 199, 255);
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    animation-name: float;
    animation-duration:6s ;
    animation-iteration-count: infinite;
}
.bubble2{
    width: 150px;
    height: 150px;
    background: rgba(234, 247, 255,.4);
    border-radius: 50%;
    position: absolute;
    left: 7%;
    top: 10%;
    animation-name: floatx;
    animation-duration:6s ;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.authOpt{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

}
.authOpt p{
    font-size: .8rem;
    color: rgb(97, 97, 97);
    cursor: pointer;
}
.authOpt p span{
    color: var(--pri-color);
    font-size: .9rem;
    cursor: pointer;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes floatx {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-20px);
	}
	100% {
		transform: translatex(0px);
	}
}