.jobsNav{
    width: 95vw;
    margin:  0 auto;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.JobsPage{
    height: fit-content;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.jobsPlacer{
    width: 90%;
    height: 85vh;
    margin: 2.5vh auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.jobLeftUi{
    width: 30%;
    height: 100%;
}
.jobSearch{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    overflow: hidden;
            box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);

    margin-bottom: 10px;
        background: rgb(255, 255, 255);
        border-radius:1000px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;

}
.jobsIcon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec5-color);
    border-radius: 50%;

    color: aliceblue;
    margin-right: 2.5px;
}
.jobsSearchInput{
    width: calc(100% - 47.5px);
    height: 100%;
    overflow: hidden;


}
.jobsSearchInput input{
    width: 100%;
    padding-left: 15px;
    height: 100%;
    font-size: 1rem;

}
.jobsActCont{
    height: calc(100% - 60px);
    background: rgb(255, 255, 255);
    border-radius:10px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.actJob{
    width: 97%;
    margin: 0 auto;
    height: fit-content;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    transition: .3s ease;
}
.actJob:hover{
    transform: scale(.97);
}
.actJobTop{
    display: flex;
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    
}
.actJobPlacer{
    width: 93%;
    height: 90%;
}
.jobIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background: #6ac2d823;
    font-size: 30px;
    color: var(--pri-Color);

    border-radius: 10px;
}
.jobIcon img{
    width: 30px;
}


.jobSave{
    width: 35px;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: end;
    margin-left: 15px;
    align-items: start;
}
.jobDet{
    width:100%;
    height: 100%;
    overflow: hidden;
    text-align: start;
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-direction: start;

}

.jobDetTit{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: 100;
    color: #020a1bd0;
    justify-content: start;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;

}
.jobDetTit h4{
    font-family: Telex;
    font-weight: 600;
    overflow: hidden;
    font-size: 1rem;
       white-space: nowrap;
    text-overflow: ellipsis;
}
.jobDetdesc{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;

}
.jobDetdesc p{
    font-size: .9rem ;
    overflow: hidden; 
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.actJobBtm{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 10px;

}
.fidiProf{
    padding: 5px ;
    border-radius:5px;
    margin-top: 10px;
    color: rgb(19, 106, 177);
    background: rgba(96, 152, 255, 0.1);
}
.fidiProf p{
    font-size: .7rem;
    line-height: 15px;
 

}
.miniPriceandApplicants{
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miniApplicants{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}
.miniApplicants .faIcon{
    margin-right: 5px;
    color: #67aeff;
    font-size: 20px;
}
.miniApplicants p{
    margin-top: 3px;
        color: #67aeff;
        font-weight: 900;

    font-size: 1rem;
    font-family: Mont !important;

}
.miniPrice{
    color:rgb(0, 163, 0);
    border-radius:4px;


}
 
 .miniPrice button{
    font-size: .9rem;
    display: none;
    font-family: Telex;
    width: 80px;
    font-weight: 100 !important;
    height: 35px;
    border-radius: 50px;
    border: none;
    background: var(--sec5-color);
    color: aliceblue;
 }

 .jobRightUi{
    width: 69%;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
 }
 .jobRightUi img{
    width:180px;

 }
 .jobRightUi p{
    text-align: center;
    margin-top: 30px;
 }