/* small laptop screens  */

@media (min-width:993px) and (max-width: 1024px) {
    
}

/* large laptop screens  */

@media only screen and (min-width: 1620px){
   .heroCont, .boxedPlc,.secPlacer,.footerPlacer,.affPlacer,.faqPlacer,.penDrawPlacer{
    width: 1500px;

   }
   .boxed{
    height: fit-content;
}

   .boxIntro,.actBoxed{
    width: 100%;
   }
   .navContWhite{
    width: 1120px;
   }
   .actUnlock{
        height:110vh;

   }
   .unlockGrid{
    width: 100%;
    height:100%;
   
}
   .ug1, 
.ug2, 
.ug3, 
.ug4
{
    height:55vh;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;

    align-items: center;
}
.abstractBox{
    left: 19%;
    width: 30%;
}
.penDraw{
    margin: 0 auto;
}
.faqCard h3{
    color: aliceblue;
    margin-bottom: 50px;
    font-family: Mont;
        width: 700%;

}
.faqCard p{
    color: rgba(240, 248, 255, 0.735);
    width: 40%;
    text-align: center;
}
.cardImgTL{
    position: absolute;
    width: 500px;
    left: -12%;
    opacity: .2;
    top: -30%;
}
.cardImgBL{
    position: absolute;
    width: 600px;
    left: -50%;
    opacity: .2;
    bottom: -50%;
}
.cardImgBR{
    width: 1000px;
    right: -25%;
    position: absolute;
        opacity: .1;

    bottom: -400px;
    rotate: 90deg;
}
.cardImgTR{
    width: 1000px;
    right: 0%;
    position: absolute;
    opacity: .1;
    rotate: 90deg;
    top: -10%;
}
footer{
    height: 40vh;
}
}
@media (min-width: 769px) and (max-width:1279px){
      h1{
    font-size: 3.2rem !important;
    font-family: MontBold;
    line-height: 80px;

}
h2{
    font-size: 2.5rem;
    font-family: MontBold;
}
h3{
    font-size: 1.9rem;
    font-family: MontBold;

}
p{
    font-size: .9rem;
    line-height:28px;
}
a{
    font-size: .9rem;
}
 .blob1{
    position: absolute;
    z-index:1;
    width: 100%;
    right: 50%;
    top: -10%;

}
.heroCont{
  width: 95% !important;

}
.heroLH1 h1{
    color: aliceblue;
    text-align: end;
    padding-right: 30px;
}
.heroRCont p{ 
  margin:20px 0 25px 0;

}
.heroUserActCont span{
    color: aliceblue;
    font-size: 1.5rem;
}

.heroUserActCont p{
    color: aliceblue;
    opacity: .7;
    margin-top:0px;
    font-size: .8rem;
}.heroUsers img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--sec3-color);
}
.boxed{
    height: fit-content;
}
.boxedPlc{
    width:100%;
}
.actBoxed{
    width:95%;
    height:400px;
}
.secPlacer{
    width: 95%;
}
.actUnlock{
    height: fit-content;
}
.unlockGrid{
    width: 100%;
 
    height:fit-content;
    border-left:  1px solid rgba(0, 0, 0, 0.211);
    border-right:1px solid rgba(0, 0, 0, 0.211);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.ug1, 
.ug2, 
.ug3, 
.ug4
{
    height:fit-content;
    padding-top: 50px;
    
    display: flex;
    justify-content: center;

    align-items: center;
}
.unlockNumbers{
    height: 60px;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.abstract .abstractPlacer{
    height: 100%;
    border-radius: 30px;
    position: relative;
    width: 95%;
    margin: 0 auto;
    background: url(../media/pexels-thirdman-7236954\ \(1\).jpg)no-repeat center/cover;

}
.abstractBox{
    width: 50%;
    border-radius: 40px;
    overflow: hidden;
    height: 450px;
    bottom: -100px;
    left:7%;
    z-index: 2 !important;
    position: absolute;
    background: rgb(230, 230, 230);
    background: #F8FAFB;
    box-shadow:  0 10px 50px rgba(0, 0, 0, 0.155);
}
.abstractBoxWrap{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.abstractBox img{
    width: 500px;
    position: absolute;
    bottom: -20%;
        height: 400px;

    right: -40%;
    opacity: .5;
}
.faq{
    width: 100vw;
    height: fit-content;
    padding: 7% 0;
    
}

.svgCont{
    height: 100%;
}
 .faqPlacer{
    width: 90%;
 }
 .faqRightT{
    height: fit-content;
    margin-bottom: 40px;
    width: 100%;

}
.Affiliate{
    height: 60vh;
}
.affPlacer{
    width: 95%;
    height:60vh;
}
footer{
    height: fit-content;
}
.footerPlacer{
    width: 95%;
}
.boxIntro{
    width: 70%;
}
.afLeft span{
         font-size: 1rem;
    font-family: Mont;
    border-left: 1px solid var(--sec1-color);
    font-weight: 100 !important; 
    padding: 10px;
    color: var(--sec1-color);
}
}
@media only screen and (max-width: 992px){
    .fonMenu{
        display: flex;
        transition: .3s ease;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: var(--sec5-color);
        position: fixed;
        top: 0;
        right: -101%;
        z-index: 11;


    }
    .fonMenu img{
        width: 150vw;
        height: 150vw;
        opacity: .1;
        position: absolute;
        bottom: -25%;
        left: -5%;
        z-index: 1;
    }
    .fonMenuActive{
        right: 0%;
    }
    .sideMenuPlacer{
        width: 90%;
        position: relative;
        z-index: 2;
        height: 80%;
        justify-content: start;
        align-items: end;
        display: flex;
        flex-direction: column;

    }
    .fonMenuX{
        width: 50px;
        background: var(--sec2-color);
        height: 50px;
        font-size: 30px;
        color: aliceblue;

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .fonMenuX .faIcon{
        margin-left: 5px;
    }
    .fonMenuLinks{
        text-align: start;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .fonMenuLinks a{
        margin-bottom: 10px;
        padding-top: 30px;
        text-decoration: none;
        font-size: 1.2rem;
        color: aliceblue;
    }
    .fonMenuLinks button{
     width: 100%;
    border-radius: 60px;
     color: aliceblue;
     border: none;
     margin-top: 50px;
     font-family: Mont;
     background: var(--sec3-color);
    }
        
    .cursorDot{
        display: none;
    }
    .cursorCircle{
        display: none;
    }
    
    
h1{
    font-size: 4rem !important;
    font-family: MontBold;
    line-height: 80px;

}
h2{
    font-size: 2.5rem;
    font-family: MontBold;
}
h3{
    font-size: 1.8rem;
    font-family: MontBold;

}
p{
    font-size: 1rem;
    line-height:28px;
}
a{
    font-size: .9rem;
}
 .blob1{
    position: absolute;
    z-index:1;
    width: 200%;
    right: 00%;
    top: -10%;

}
.zigzag1{
    position: absolute;
    z-index: 0;
    width: 150vw;
    right: -80%;
    top: 0%;
    opacity: .1;

}
.hero{
    border-radius: 0 0 30px 30px ;
}
.heroCont{
    display: flex;
        height: fit-content !important;
    height: fit-content;
    flex-direction: column;
}
.heroLeft{
   
    z-index: 2;
    width: 100%;
    justify-content: start;
    align-items: start;
}
.heroLH1{
    text-align: start;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.heroRCont{


    width: 100% !important;
}
.heroRCont p{
    width: 100%;
}
button{
    font-size: 1rem;
    height: 55px !important;
}
input {
    font-size: 1rem ;
}

input::placeholder{
    font-size: 1rem;
}
.heroRight{
    width: 100%;
    flex-direction: column;
    height: fit-content;
}
.heroUsersCont{
    display: none;
}
.heroContImg{
    position: absolute;
    right: -20%;
    z-index: 1;
}
 .navContWhite{
  width: 95%;
 }
 .navContWhite nav .navPlacer .navLinks{
   display: none;  
 }
 .navContWhite nav .navPlacer .navBtns{
   display: none;  
 }
 .navContWhite nav .navPlacer .fonNavIcon{
   background: aliceblue;
   color: var(--sec5-color);
 
 }
 .navContWhite nav .navPlacer .navLogo img{
 width: 35px;
 
 }
 .navContWhite nav .navPlacer .fonNavIcon .faIcon{
   background: aliceblue;
   color: var(--sec5-color);
 }
 .boxed{
    padding-top: 14%;
    height: fit-content !important;
 }
 .lines{
    width: 100vw;
 }
 .boxedPlc{
    width: 95%;
 }
 .miniIntroIntro{
    padding: 7px !important;
 }
 .boxIntro{
    width: 90%;
 }
 .boxIntro p{
    width: 100%;
 }
 .actBoxed{
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 25px;
    height: fit-content !important;
 }
 .actBox1
 {
    height: 400px;
 }
 .actBoxCont{
    width: 90%;
    height: 80%;
 }
 .actBox2,
 .actBox3,
 .actBox4{
    height: fit-content;
    padding: 60px 0;
 }
 .unlock{
    padding-top: 14%;
    height: fit-content !important;
 }
 .secPlacer{
    width: 95%;
    height: fit-content !important;
 }
 .unlockIntro{
    width: 100%;
    margin-bottom: 7%;
 }
 .actUnlockLeft{
    position: static !important;
    width: 100%;
    margin: 0;
 }
.abstract{
    padding-top: 14%;
}
 .actUnlock{
    height: fit-content;

    flex-direction: column;
 }
 .actUnlockRight{
    width: 100%;
    height: fit-content;
    
 }
 .unlockGrid{
    display: none;
    flex-direction: column;
 }
 .ugcont{
    width: 90%;
 }
 .abstract{
    height: 300px;
 }
 .abstract .abstractPlacer{
    height: 100%;
    border-radius: 30px;
    position: relative;
    width: 95%;
    margin: 0 auto;
       background: url(../media/pexels-chetanvlad-2923156.jpg)no-repeat center/cover ;

}
.abstractBox{
    width: 90%;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}
.abstractBox img{
    width: 500px;
    position: absolute;
    bottom: -30%;
    right: -30%;
    
    opacity: .5;
    z-index: 1;
}

.abstractBoxWrap{
    z-index: 2;
    position: absolute;
}
.penDraw{
    padding-top: 14%;

}
.penLeft{
    width: 100%;
}
.penSol{
    margin-bottom: 50px;
}
.penSol span{
    margin-right: 10px;
}
.penLeft h2{
   font-size: 1.5rem;
}
.svgCont{
    display: none;
}
.faq{
    height: fit-content;
}
.faqPlacer{
    width: 95%;
    flex-direction: column;
}
.faqLeft{
    width: 100%;
    height: 450px;
}
.faqLeft .faqLeftCont{
    width: 90%;
    height: 90%;
}
.faqRight{
    margin-top: 7%;
    width: 100%;
}
.faqRightT{
    margin-bottom: 30px;
}


.faqCardCont p{
    width: 95%;
}

.realFaq{
    padding-top: 14%;
}



.cardImgTL{
    position: absolute;
    width: 250px;
    left: -100px;
    opacity: .1;
    top: -20%;
}
.cardImgBL{
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .1;
    top: -20%;
}
.cardImgBR{
    width: 400px;
    right: -200px;
    position: absolute;
        opacity: .1;

    bottom: -100px;
    rotate: 90deg;
}
.cardImgTR{
    width: 500px;
    right: -20%;
    position: absolute;
    opacity: .1;
    rotate: 90deg;
    top: -50%;
}
.faqCard1{

    z-index: 1;
    top: calc(50% - 36vh);
    background: var(--sec1-color);
}
.faqCard2{

    z-index: 2;
    top: calc(50% - 34vh);
    background: var(--sec4-color);
}
.faqCard3{
    z-index: 3;
    top: calc(50% - 32vh);
    background: var(--sec2-color);
}
.faqCard4{

    z-index: 4;
        top: calc(50% - 30vh);

    background: var(--sec3-color);
}
.Affiliate{
    height: fit-content;
    padding-top:14%;
}
.affPlacer{
    width: 95%;
    
    height: fit-content;
    padding: 30px 0;
}
.afCont{
    flex-direction: column;
}
.afLeft{
    width: 100%;
}
.afRight{
    width: 100%;
    margin: 40px 0 0 0;
}
footer{
    height: fit-content !important;

}
.footerPlacer{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

/* Planet Styles */
.planet {
  background: var(--sec1-color);
  box-shadow: inset -10px -10px 0px #4f8cd1; /* darken($planet-color, 2%) */
  width: 40px;
  height: 40px;
  right: -10%;
  border-radius: 100%;
}

.orbit {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.126);
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  animation: orbitR 33.61616s linear infinite; /* $gravitation-constant * $t + s */
}
.orbit2 {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.126);
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  animation: orbit 45.61616s linear infinite; /* $gravitation-constant * $t + s */
}
.orbit3 {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.126);
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  animation: orbitR 57.61616s linear infinite; /* $gravitation-constant * $t + s */
}
.orbit4 {
  width: 400px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.126);
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  animation: orbit 27.61616s linear infinite; /* $gravitation-constant * $t + s */
}

.footerTop{
 height: fit-content;
 flex-direction: column;

}
.footerBtm{
    height: fit-content;
    width: 100%;
    margin-top: 30px;
}.footerBtm span{
    font-size: .7rem;
}
.ftLeft{
    width: 100%;
    height: fit-content;
}
.ftMid{
      width: 100%;
    height: fit-content;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ftRight{
      width: 100%;
    height: fit-content;  

    align-items: center;
}

.ftMidRight{
    width: 100%;
   
    height: fit-content;
}
.ftMidLeft{
    width: 100%;
     height: fit-content;
}
.ftBB{
    justify-content: center;
    align-items: center !important;
    display: flex;
    width: 100%;
    flex-direction: column;
}
/* .ftTT{
    justify-content: center;
    align-items: center !important;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
} */

.ftBB p{
  width: 100%;
}

/* Moon Styles */
.moon {
  background: url(../media/pexels-shkrabaanthony-5244065.jpg)no-repeat center/cover ;
 width: 30px;
  height: 30px;
  border-radius: 100%;
  margin:0px;
}
.moon2 {
  background: url(../media//pexels-chetanvlad-2923156.jpg)no-repeat center/cover ;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 14px;
}
.moon21 {
  background: url(../media//pexels-chetanvlad-2923156.jpg)no-repeat center/cover ;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 14px;
  bottom: 0;
  position: absolute;
}

.moon3 {
  background: url(../media/pexels-olly-3786760.jpg)no-repeat center/cover ;
 width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 30px;
}
.moon4 {
  background: url(../media/pexels-olly-3786760.jpg)no-repeat center/cover ;
 width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 45px;
}
.moon41 {
  background: url(../media/pexels-olly-3786760.jpg)no-repeat center/cover ;
 width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 45px;
  position: absolute;
  bottom: 0;
}

}


