@media only screen and (min-width: 1620px){
  .navPlacer{
    width: 1500px;

  }
  h1{
    line-height: 140px;
  }
}
@media (min-width: 993px) and (max-width:1024px){
    h1{
    font-size: 3.2rem !important;
    font-family: MontBold;
    line-height: 80px;

}
h2{
    font-size: 2.5rem;
    font-family: MontBold;
}
h3{
    font-size: 1.3rem;
    font-family: MontBold;

}
p{
    font-size: .9rem;
    line-height:28px;
}
a{
    font-size: .9rem;
}
.navPlacer{
    width:  95%;
}


.navLogo{
  width: 20% !important;
}
.navLinks{
  width: 60% !important;
}

.heroLeft{
  width: 20% !important;
}
.navLink{
    margin-right: 30px;
}
.navBtns{
    width: 20%;


    }
    .navBtns button{
      width: 100px;

      font-size: .9rem;
    }
.navLogo img{
    width: 30px;
}
.navContWhite .navLinks .navLink{
  margin-right: 10px;
}
.navContWhite{
  width: 80% !important;
}

.navContWhite .navBtns button{
  width: 80px;
  font-size: .8rem;
  border-width:1px ;
  height: 30px;
}
.navContWhite .navLogo img{
    width: 30px;
}


}


@media only screen and (max-width: 768px){
 .fonNavIcon{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .navLogo{
  width: 60px;
  height: 60px;

 }
 .navLogo img{
  width: 30px;
 }
 .fonNavIcon .faIcon{
  color: aliceblue;
  font-size: 25px;
 }
 .navBtns{
  display: none;

 }
 .navLinks{
  display: none;
 }
  .navlinks{
    display: none !important;
}

}