*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: MontBold;
    src: url(../media/montserrat-font/MontserratExtrabold-VGO60.ttf);
}
@font-face {
    font-family: Mont ;
    src: url(../media/montserrat-font/MontserratRegular-RpK6l.otf);
}
@font-face {
    font-family: Telex ;
    src: url(../media/Telex/Telex-Regular.ttf);
}
:root {
    --pri-Color: #8140cc;
    --pri-ColorDark: #5a00c0;
    --sec1-color:#5EA7FA;
    --sec2-color:#5a00c0;
    --sec3-color:#130F32;
    --sec4-color:#C35EC1;
    --sec5-color:#9E00FF;
    --sec6-color:#2332DF;
}
.fonNavIcon{
    display: none;
}
body{
    font-family: Telex;
    font-weight: 100;
}
h1{
    font-size: 5rem;
    font-family: MontBold;

}
h2{
    font-size: 3.5rem;
    font-family: MontBold;
}
h3{
    font-size: 2.1rem;
    font-family: MontBold;

}
p{
    font-size: 1rem;
    line-height:28px;
    font-family: Telex !important;
}
a{
    font-size: 1rem;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navPlacer{
    width:90vw;
    margin-left: 1%;
    height: 100%;
    transition: .3s ease;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.navLogo{
    height: 100%;
    display: flex;
    transition: .3s ease;
    justify-content: start;
    align-items: center;
    width: 25%;
}
.navLogo img{
    width: 50px;
}
.navLinks{
    width: 65%;
    display: flex;
    justify-content: start;
    height: 100%;
    align-items: center;
}
.navLink{
    margin-right: 50px;
}
.navLink a{
    text-decoration: none;
    color: aliceblue;

}
.navBtns{
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.navBtns button{
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: Telex;
    width: 150px;
    font-size: 1rem;
   color: aliceblue;
   background: none;
    display: flex;
    border: 1px  solid rgba(240, 248, 255, 0.3) ;
}





.navContWhite nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContWhite .navPlacer{
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContWhite .navLogo img{
    width: 50px;
}

.navContWhite .navLink{
    margin-right: 0px;
    transition: .3s ease;
    margin-left: 20px;
    overflow: hidden;
}
.navContWhite .navLink a{
    text-decoration: none;
    color: rgb(23, 24, 24);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    white-space: nowrap;
    

}
.navContWhite .navLogo{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 25%;
}
.navContWhite .navLinks{
    width: 65%;
    display: flex;
    justify-content: end;
    height: 100%;
    overflow: hidden;
    align-items: center;
}
.navContWhite .navBtns{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.navContWhite .navBtns button{
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: Telex;
    width: 110px;
    font-size: 1rem;
   color: rgb(30, 31, 32);
   background: none;
    display: flex;
    border: 1px  solid rgba(36, 37, 39, 0.5) ;

}

