.userProfWrap{
    width: 100%;
    height: 100%;
     display: flex;
  flex-direction: row;

}
.userProfLeft{
    width: 60%;
    height: 100%;
}
.uplTop{
    width: 100%;
    height: 40%;
        overflow: hidden;
 
    position: relative;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);
         background-image: linear-gradient(205deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 10%),linear-gradient(125deg, var(--sec2-color),var(--sec4-color));
           background: linear-gradient(70deg,#4B35A2, #6a43a0);


    overflow: hidden;
}
.uplTop img{
  position: absolute;
  z-index: -1;
  height: 100%;
  right: 0;
}
.uplCont{
    width: 95%;
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    z-index: 2;
    margin-left: 5%;
}
.uplCont span{
    font-size: 2.5rem;
    
    margin-bottom: 10px;
    color: aliceblue;
}
.uplCont p{
    width: 60%;
    opacity: .9;
    color: aliceblue;
}
.uplBtm{
    margin-top: 20px;
    width: 100%;
    height: calc(60% - 20px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background: rgb(255, 255, 255);
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);
}
.uplGRraph{
    height: calc(100% - 60px);
    width: 96%;
    
}
.uplBtm p{
    height: 60px;
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.userProfRight{
    width: calc(40% - 20px);
    margin-left: 20px;


}

.uprTop{
    height: calc(100% - 170px);
        background: rgb(255, 255, 255);
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}
.uprBottom{
       margin-top: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
    height:150px;
        background: rgb(255, 255, 255);
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.uprBtmCont{
    width: 90%;
    height: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.uprBtmBtns{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.uprBtmBtns button{
    height: 40px;
    font-family: Mont;
    cursor: pointer;
}
.sgnOutAcc{
    width: 35%;
      color: aliceblue;
    background: var(--sec5-color);
    border-radius: 20px;
        border: none;

}
.dltAcc{
    width: 60%;
    color: var(--sec5-color);
    border-radius: 20px;
    background: none;
    border: 1px solid var(--sec5-color);
}
.uprAccBalance{
    width: 100%;
    height: 200px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec3-color);

}
.uprAccBlCont { 
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 80%;
}
.uprAccBlCont p{
    color: aliceblue;
}
.uprAccBlCont span{
    font-size: 2.5rem;
    font-family: Mont;
    color: aliceblue;
}
.uprAccBlCont button{
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    background: aliceblue;
    font-family:Mont;
}
.uprPaypal{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.recentTrx{
    height: calc(100% - 220px);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}
.rtXIntro{
    height: 30px;
    width: 100%;
}
.rtxWrapper{
    width: 100%;
    height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
}
.rtxTramsaction{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.rtxTramsaction span:nth-child(1){
    width: 35%;
    font-size: .85rem;
    opacity: .7;
    
}
.rtxTramsaction span:nth-child(2){
    width: 35%;
    text-align: center;
        opacity: .7;

        font-size: .85rem;

}
.rtxTramsaction span:nth-child(3){
    width: 30%;
    text-align: end;
    font-family: Mont;
    color: rgb(4, 174, 4);
}