
.mdlminiContWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.mainDashLeft{
    width: calc(65% - 20px);
    height: 100%;
    transition: .3s ease;
    overflow: hidden;
    margin-right:20px ;

}
.mainDashRight{
    transition: .3s ease;
    width: 35% ;
    height: 100%;
    transform: .3s ease;
    overflow: hidden;
}
.allDashActive.mainDashLeftFonActive-Desk{
    overflow: visible;
    width: calc(65% - 20px);

}
.mainDashLeftFonInActive-Desk{
    width: 0%;
    opacity: .001;
    margin: 0;
}
.allDashActive.mainDashLeftFonInActive-Desk{
    margin-left: 20px;
}
.allDashActive.mainDashRightFonActive-Desk{
    width: 35% ;
}
.mainDashRightFonActive-Desk{
    width:100% ;
    overflow: visible;
    
}
.mainDashRightFonInActive-Desk{
    width: 0%;
}
.mdrIntro{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;

}
.mdrCont{
       background: rgb(255, 255, 255);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 40px);
        justify-content: center;
        align-items: center;
}
.mdlTop{
    height: 250px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-template-rows: repeat(1, 1fr );
        gap: 20px;

}
.mdlCard1{
    grid-area: 1/1/2/2;
    background: var(--sec2-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.mdlCard2{
    grid-area: 1/2/2/3;
       background: rgb(255, 255, 255);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.mdlCard1Cont{
    width: calc(100% - 70px);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.mdlCard1Cont img{
    width: 70px;
    opacity: .8;
}
.mdlcardTitle{
    font-size: 1.1rem;
    margin-top: 10px;
    color: aliceblue;
}
.mdlCard1Income{
    font-size: 2.2rem;
    color: aliceblue;
    font-weight: 700;
        margin: 20px 0;

    font-family: Mont;
}
.mdlminisum{
    padding: 7px 10px;
    color: aliceblue;
    font-size: .7rem;
    border-radius: 20px;
    background: #0d0a2245;
}
.percentEarn{
    color: rgb(93, 237, 93);
}
.mdlBtm{
    width: 100%;
    height: calc(100% - 270px) !important;
    display: flex;
    flex-direction: column;
}
.mdlBtmAITasksAssigned{
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    height: calc(100% - 40px);
}
.mdlBtmAITasksAssigned img{
    width: 150px;
}
.mdlBtmIntro{
    height: 30px;
    margin-bottom: 10px;
}
.mdlBtmAITasksAssigned span{
    font-weight: 100;
    width: 40%;
    margin: 0 auto;
    font-size: .8rem;
    opacity: .7;
    margin-top: 15px;
    text-align: center;
}
.mdlBtmAITasksAssigned button{
    width: 100px;
    cursor: pointer;
    height: 40px;
    border: none;
    background: var(--sec5-color);
    color: aliceblue;
    margin-top: 15px;
    font-size: .8rem;
    border-radius: 35px;
    
}
.mdlcard2Wrap{
   width: calc(100% - 40px);
   margin: 0 auto;
   height: 90%;
   display: flex;
   justify-content: space-between;
   align-items: start;
   flex-direction: column;
}
.mdlminicard{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.mdlminicardCont{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}
.mdlminiCardBox{
    width: 55px;
        margin: 0 10px 0 0;
        border-radius: 10px;

    height: 55px;
background: #5A5DF5;
display: flex;
justify-content: center;
align-items: center;
}
.mdlminiCardBox .faIcon{
    font-size: 30px;
    color: aliceblue;
}
.mdlminiCardBox .projTaken{
    font-size: 25px;
    font-family: Mont;
    color: aliceblue;
}
.mdlminicard2{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mdlminicardContData{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.mdlminicardContData span{
    opacity: .7;
    font-size: .7rem;
}
.mdlminicardCont2{
     display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.mdlcboxT{
    flex-direction: row;
    display: flex;
        border-radius: 10px;

    justify-content: start;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}
.mdlcboxB{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    width: 100%;
    
}
.mdlcboxB button{
    border: none;
    font-size: .7rem;
    color: var(--sec2-color);
    height: 30px;
    background: #a9a0e345;
    cursor: pointer;
    background: #5A5DF5;
    color: aliceblue;
    width: 100%;
    border-radius: 20px;
    
}
.mdrCont img{
    width: 100px;
}
.mdrCont span{
    margin-top: 10px;
    opacity: .7;
    font-size: .8rem;
    text-align: center;
}

.accTaskAssignedWrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
    margin-bottom: 4px;
    border-radius: 10px;
    scrollbar-width: 5px;
    
}

.accTaskAssignedWrapper::-webkit-scrollbar {
    width: 6px;
    display: flex;
    

}

.accTaskAssignedWrapper::-webkit-scrollbar-thumb {
    background: #00000049;
    border-radius: 10px;
}

.accTaskAssignedWrapper::-webkit-scrollbar-track {
    background: transparent;
}
.aitaskassignedCard{
    width: 95%;
    
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.aacTaskType{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}
.aacTaskType p{
    font-size: .85rem !important;
}
.aacTaskPay{
    width: 20%;
        font-size:.85rem !important;

    margin: 0 auto;
}
.aacTaskPay p{
        font-size:.85rem ;

}
.aacTaskPay p span{
    font-family: Mont;
}
.aacTaskAction{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aacTaskStatus{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aacTaskStatusComplete p{
  color: green;
    font-size:.85rem ;

}
.aacTaskStatusPending p{
  color: red;
  font-size:.85rem ;
}
.aacTaskAction .nullBtn{
    color: black;
}
.acceptTaskBtn{
    height: 25px;
    border-radius: 5px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    font-size:0.7rem !important ;
    background: var(--sec2-color);
    color: aliceblue;

}

@media only screen and (max-width:992px) {
    .mainDashLeftFonActive-Desk{
    width: 100%;
    overflow: visible;

}
    .mdlcboxB button{
        padding: 0px !important;
        height: 35px !important;
    }
    .mdlTop{
        width: 100%;
        overflow-x:auto;
        border-radius: 20px;

    }
    .mdlCard1{
        width: 75vw;
    }
    .mdlCard2{
        width: 75vw;
    }
    .mdlminiContWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.mainDashLeft{
    width: 100%;
    margin: 0;
}
.allDashActive.mainDashRightFonActive-Desk{
    width: 0% !important;
}
.allDashActive.mainDashLeftFonActive-Desk{
    overflow: visible;
    width: 100%;

}
.allDashActive.mainDashRight{
    width: 0%;
    overflow: hidden;
    transition: .3s ease;
}
.mainDashRightFonActive-Desk{
        width: 100% !important;
        overflow: visible;

}
.mainDashLeftFonInActive-Desk{
        width: 0% !important;
        overflow: hidden;

}
}

@media (min-width:993px) and (max-width:1024px) {
    .userDashNav{
        height: 95% !important;
    }

.userDashBtm {
    height: calc(100% - 160px) !important;
    width: 100%;
    border-radius: 0 50px 0 0;
    margin-top: 10px !important;
}
.userDashLinks{
    width: 95% !important;
}
.udlLink {
    height: 35px !important;
}
 .userDashminiNav{
    height: 50px;

}
.userDashminiNav span{
    font-size: 1rem;
}
.mdlTop{
    height: 200px !important;
}
.mdlBtm{
    height: calc(100% - 220px) !important;
}

.mdlCard1Cont{
    width: 80%;
}
.mdlcardTitle{
    font-size: .9rem;
}
.mdlCard1Income{
    margin: 15px 0;
    font-size: 1.7rem;
}
.mdlCard1Cont img{
 width: 50px;
}
.mdlminisum{
    font-size: .7rem ;
}
}