
.workSpaceWrapper{
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
                background: #EDF0F8;

    align-items: center;
}
.workspacerPlacer{
    width: 95%;
    height: 95%;
}
.workSpaceNav{
    width: 100%;
    height:50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.workSpaceCont{
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(95vh - 70px);
    background: rgb(255, 255, 255);
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.1);
}
.wspnLeft{
    width: fit-content;
    height: 50px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    cursor: pointer;
            padding:0 15px;

    align-items: center;
}
.wspnLeft a{
    text-decoration: none;
    align-items: center;
    color: var(--sec31-color);
}
.wspnRight{
        width: fit-content;
        padding:0 15px;
    height: 50px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.wspnRight .faIcon{
    font-size: 23px;
    color: var(--sec2-color);
    margin-right: 10px;
}
.wspnRight p{
    font-family: Mont !important;
}
.workspaceDesk{
height:calc(100% - 60px);
overflow: hidden;
width:98%;

}
.workspacebtn{
    width: 98%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workspacebtn button{
    width: 100%;
    height: 50px;
    border: none;
    background: var(--sec2-color);
    border-radius: 50px;
    color: aliceblue;
    font-family: Mont;
    font-size: 1rem;
    cursor: pointer;
}
.wsdContent{
    width: 100%;
    height:220px;
}
.wsdContent .wsdContentitle{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;
}
.wsdContentitle span{
        color: var(--sec1-color);

        padding: 7px 20px;
            background: #5ea7fa1b;
            border-radius: 30px;


}
.wsdContentParagraph{
    width: 100%;
    height: 150px;
                    background: #f9faff;
                    border-radius: 10px;


}
.wsdContentParagraph p{
    margin:0px 10px;
    padding:10px 0;
}
.wsdAnswer{
    height: calc(100% - 220px);
}
.wsdaAnsTextAreaTitle{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.wsdaAnsTextAreaTitle span{
        color: var(--sec1-color);

        padding: 7px 20px;
            background: #5ea7fa1b;
            border-radius: 30px;
}
.wsdaAnsTextArea{
    width: 100%;
    height: calc(100% - 70px);
    overflow-x:hidden ;
    border-radius: 10px;
    overflow-y: auto;
                        background: #f9faff;

}
.wsdaAnsTextArea textarea{
    background: none;
    font-size: 1rem;
    width: 100%;
    font-family: Telex;
    height: 100%;
    padding: 10px;
    border: none;
}
textarea:focus{
    outline: none;
}

@media only screen and (max-width: 992px){

}