*{
    padding: 0;
    margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.swal2-title{
    font-size: 1.2rem !important;
    font-family: Telex;
    font-weight: 400;
    letter-spacing: -1px;
}
.swal2-popup{
    font-family: Telex;
}
.swal2-input{
        font-family: Telex !important;
}
.swal2-input::placeholder{
        font-family: Telex !important;

}
.swal2-html-container{
    font-size: 1rem;
}
.swal2-cancel{
    color: #6a5acd;
    border: none;
    font-family: Telex;
    border-radius: 40px;
        background: none;
            border: 1px solid #6a5acd;


}
.swal2-cancel:hover{
        background: none !important;



}


.swal2-confirm{
    font-family: Telex;
    background: #6a5acd;
    border-radius: 40px;
    color: #ffffff;
}

:root{
    --pri-color:#9E00FF;
    --sec-color:rgb(14, 0, 77);
    --ter1-color:#5EA7FA;
    --ter2-color:#9387FA;
    --black-text:rgb(26, 26, 26);
    --grey-text:rgb(55, 55, 55);
    --sec1-color:#5EA7FA;
    --sec2-color:#5a00c0;
    --sec3-color:#0d0a22;
    --sec4-color:#C35EC1;
    --sec5-color:#6a5acd;
    --sec6-color:#2332DF;
}
*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: MontBold;
    src: url(./media/montserrat-font/MontserratExtrabold-VGO60.ttf);
}
@font-face {
    font-family: Mont ;
    src: url(./media/montserrat-font/MontserratRegular-RpK6l.otf);
}


body{
    font-family: Mont;
}
h1{
    font-size: 5rem;
    font-family: MontBold;

}
h2{
    font-size: 3.5rem;
    font-family: MontBold;
}
h3{
    font-size: 2.1rem;
    font-family: MontBold;

}
p{
    font-size: 1rem;
    line-height:28px;
    font-family: Mont;
}
button{
    font-family: Mont;
}
a{
    font-size: 1rem;
    font-family: Telex;
}

input{
    border: none;
    background: none;
    font-family: Telex;
}
input:focus{
    outline: none;
}
.loaderCover{
    width: 100%;
    height: 100vh;
    z-index: 13;
    position: fixed;
    top: 0;
    background:#ffffff;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.loadContAnim{
    transform: scale(.8);
}
select:focus,
input:focus,
textarea:focus{
    outline: none;
}

.no-transaction{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.no-transaction img{
    width: 100px;
    margin-bottom: 20px;


}
@media only screen and (max-width: 992px){
h1{
    font-size: 4rem;
    font-family: MontBold;

}
h2{
    font-size: 2rem !important;
    font-family: MontBold;
}
h3{
    font-size: 1.5rem !important;
    font-family: MontBold;

}
p{
    font-size: 1rem;
    line-height:28px;
    font-family: Mont;
}
button{
    font-family: Mont;
}
a{
    font-size: 1rem;
    font-family: Telex;
}
}