.loaderCover{
    width: 100%;
    height: 100vh;
    z-index: 13;
    position: fixed;
    top: 0;
    background:#ffffff;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.loadContAnim{
    transform: scale(.8);
}